
.btn-hl-outline-default {
    border-color: #32801E !important;
    color: #32801E !important;
}

.btn-hl-outline-default:hover {
    border-color: #276317 !important;
    background: #276317 !important;
    color: #ffffff !important;
}

.btn-hl-default {
    border-color: #276317 !important;
    background: #32801E !important;
    color: #ffffff !important;
}

.btn-hl-default:hover {
    background: #276317 !important;
}